html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  text-align: center;
  font-size: 48px;
}
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
p {

}

.hidden {
  display: none;
}

.container {
  height: 100%;
}

.continer .container-body {
}

/* Index Page */ 
.body-landing {
  margin-top: 10%;
  text-align: center;
}
.body-landing .landing-text {
  margin-bottom: 60px;
  font-size: 30px;
}
.body-landing .landing-drinks {
  display: -ms-flex; 
  display: -webkit-flex; 
  display: flex; 
  overflow: hidden;
  margin: auto;
  height: 100%
}
.body-landing .landing-drinks .drinks-container {

  
}
.body-landing .landing-drinks .drinks-shift-left {
  flex: 1;
  float: left;
  line-height: 100%;
  text-align: center;
  width: 10%;
}
.body-landing .landing-drinks .drinks-shift-right a img{
  line-height: 100%;
  width: 100%;
  flex-direction: column;
}
.body-landing .landing-drinks .drinks-shift-right {
  flex: 1;
  line-height: 100%;
  text-align: center;
  width: 10%;
}

.body-landing .landing-drinks .drinks-container {
  width: 80%;
  display: block;
  float: left;
  overflow: hidden;
  margin: auto;
}

.body-landing .landing-drinks .drinks-container .drink {
  width: 33%;
  float: left;
}
.body-landing .landing-drinks .drinks-container .container:hover {
  border-bottom: solid;
  border-bottom-width: 3px;
  border-color: black;
  border-radius: 5px;
}
.body-landing .landing-drinks .drinks-container .container embed {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .body-landing .landing-drinks .drinks-container .container {
    width: 100%;
  }
}
