html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  text-align: center;
  font-size: 60px;
}
footer {
  font-size: 12px;
}
h1 {

}
h2 {
 color: #666666;
}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
p {

}

.hidden {
  display: none;
}

.container {
  height: 100%;
}

.continer .container-body {
}

/* Index Page */ 
.body-landing {
  margin-top: 20px;
  text-align: center;
}
.body-landing .landing-text {
  margin-bottom: 30px;
  font-size: 24px;
  color: #666666;
}

.body-landing .landing-text span{
  font-size: 12px
}

.body-landing .landing-text span:hover{
  font-size: 12px
}

.body-landing .landing-drinks {
  overflow: hidden;
  margin: auto;
  height: 100%
}
.body-landing .landing-drinks .drinks-container {

  
}
.body-landing .landing-drinks .drinks-shift-left {
  float: left;
  line-height: 400px;
  text-align: center;
  width: 10%;
}
.body-landing .landing-drinks .drinks-shift-left a img:hover {
  cursor: pointer;
  opacity: 0.5;
}
.body-landing .landing-drinks .drinks-shift-left a img{
  line-height: 100%;
  width: 100%;
}

.body-landing .landing-drinks .drinks-shift-right {
  float: left;
  line-height: 400px;
  text-align: center;
  width: 10%;
}
.body-landing .landing-drinks .drinks-shift-right a img:hover {
  cursor: pointer;
  opacity: 0.5;
}
.body-landing .landing-drinks .drinks-shift-right a img{
  line-height: 100%;
  width: 100%;
}

.body-landing .landing-drinks .drinks-container {
  width: 80%;
  display: block;
  float: left;
  overflow: hidden;
  margin: auto;
}

.body-landing .landing-drinks .drinks-container .container {
  width: 33%;
  float: left;
}
.body-landing .landing-drinks .drinks-container .container:hover {
  border-bottom: solid;
  border-bottom-width: 3px;
  border-color: black;
  border-radius: 5px;
}
.body-landing .landing-drinks .drinks-container .container embed {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .body-landing .landing-drinks .drinks-container .container {
    width: 100%;
  }
}
