@charset "UTF-8";
/* CSS Document */

.st0{fill:white;}

.st1{
	cursor: pointer;
	fill:#9F0002;
	-webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);

}

#thirdpg {
	display: none;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#text2 {
	margin: 20px auto 0 auto;
	font-size: 20px;
	text-align: center
	
}

#solo-cup-slider, #shot-glass-slider, #coffee-cup-slider {
	display: none;
}

.info {
	text-align: center;
	font-size: 24px;
	margin: 20px 0px;
}